{{ 'product-card.css' | asset_url | stylesheet_tag }}

<a class="product-card" href="{{ product.url }}">
  <img src="{{ product.featured_image | img_url: 'master' }}" alt="{{ product.title }}" loading="lazy"/>
  
  {% if show_collection %}
  <span>
    {{ current_collection }}
  </span>
  {% endif %}

  <p class="product-title">
    {{ product.title }}
  </p>

  <p class="product-price">
    {{ product.price | money }}
  </p>

  {% if show_cta %}
    <a role="link" href="{{ product.url }}" aria-disabled="false" class="button button--primary">
      Shop Now
    </a>
  {% endif %}
</a>