<style>
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
  
  .blue-banner__container {
    width: 100%;
    padding-right: 10%;
    padding-left: 10%;
    background: #29438B;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .blue-banner__text-wrapper {
    width: 100%;
    max-width: 650px;
    margin-right: 100px;
  }

  .blue-banner__header,
  .blue-banner-text {
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 120%;
    color: #fff;
    margin: 0;
  }

  .blue-banner__header {
    color: #FF9A30;
  }

  .blue-banner__image-container {
    min-width: 425px;
    min-height: 425px;
    width: 425px;
    height: 425px;
    position: relative;
    border-radius: 50%;
  }

  .blue-banner__image-container img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (max-width: 995px) {
    .blue-banner__image-container {
      min-width: 275px;
      min-height: 275px;
      width: 275px;
      height: 275px;
      position: relative;
    }
    
    .blue-banner__header,
    .blue-banner-text {
      font-size: 35px;
      line-height: 110%;
    }
  }

  @media (max-width: 768px) {
    .blue-banner__container {
      padding-right: 8px;
      padding-left: 8px;
      flex-direction: row;
    }

    .blue-banner__text-wrapper {
      margin-right: 0;
    }

    .blue-banner__header,
    .blue-banner-text {
      font-size: 30px;
      text-align: center;
    }
  }
</style>

<div class="blue-banner__container section-{{ section.id }}-padding">
  <div class="blue-banner__text-wrapper">
    <div class="blue-banner__header">{{ section.settings.title }}</div>
    <p class="blue-banner-text">{{ section.settings.sub_text }}</p>
  </div>

  <div class="blue-banner__image-container">
    <img src="{{ section.settings.image | img_url: 'master' }}" alt="Our mission image" loading="lazy"/>
  </div>
</div>

{% schema %}
  {
    "name": "Blue Image Banner",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "default": "Our Mission",
        "label": "Banner title"
      },
      {
        "type": "text",
        "id": "sub_text",
        "default": "Provide delicious healthy snacks that nourish the body and support overall wellness. We believe snacking should be a satisfying, guilt-free, and enjoyable experience without sacrificing nutrition or taste.",
        "label": "Banner text"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Pick an image for the banner"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 36
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 36
      }
    ],
    "presets": [
      {
        "name": "Blue Image Banner"
      }
    ]
  }
{% endschema %}