{{ 'component-article-card.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'section-main-blog.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{% for link in linklists.blog-categories.links %}
  {% assign blog = link.object %}
  {% if blog.articles %}
    {% if featuredArticles %}
        {% assign featuredArticles = featuredArticles | concat:blog.articles %}
    {% else %}
        {% assign featuredArticles = blog.articles %}
    {% endif %}
  {% endif %}
{% endfor %}

{%- paginate featuredArticles by 6 -%}
<div class="main-blog page-width section-{{ section.id }}-padding">

  <h1 class="title--primary" {% if section.settings.main_title == '' %}style="display: none;"{% endif %}>
    {{ section.settings.main_title }} {% if section.settings.secondary_title %}<span class="yellow-header-text">{{ section.settings.secondary_title }}</span>{% endif %}
  </h1>

  {% if section.settings.main_title %}
  <p class="subtitle--primary">{{ section.settings.sub_text }}</p>
  {% endif %}

  {% for link in linklists.blog-categories.links %}
    {% assign blog = link.object %}
    {%- for tag in blog.all_tags -%}
      {% unless tagList contains tag %}
        {% assign tagList = tagList | append: ',' | append: tag %}
      {% endunless %}
    {%- endfor -%}
  {%- endfor -%}

  <div class="blog-top">
    <div class="swiper" id="blog-tag-carousel">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <a class="blog-tag active" href="/blogs/all">View all</a>
        </div>
        {% assign tagList = tagList | remove_first: ',' | split: ',' %}
        {% for tag in tagList %}
          <div class="swiper-slide">
            <a class="blog-tag" href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>
          </div>
        {% endfor %}
      </div>
    </div>

    {%- if settings.predictive_search_enabled -%}
      <predictive-search class="search-modal__form" data-loading-text="{{ 'accessibility.loading' | t }}">
    {%- endif -%}
      <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">
        <input type="hidden" name="type" value="article" />
        <div class="field">
          <input class="search__input field__input"
            id="Search-In-Modal-1"
            type="search"
            name="q"
            value=""
            placeholder="{{ 'general.search.search' | t }}"
            {%- if settings.predictive_search_enabled -%}
              role="combobox"
              aria-expanded="false"
              aria-owns="predictive-search-results-list"
              aria-controls="predictive-search-results-list"
              aria-haspopup="listbox"
              aria-autocomplete="list"
              autocorrect="off"
              autocomplete="off"
              autocapitalize="off"
              spellcheck="false"
            {%- endif -%}
          >
          <label class="field__label" for="Search-In-Modal-1">Search for article</label>
          <input type="hidden" name="options[prefix]" value="last">
          <button class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
            <svg class="icon icon-search" aria-hidden="true" focusable="false" role="presentation">
              <use href="#icon-search">
            </svg>
          </button>
        </div>
    
        {%- if settings.predictive_search_enabled -%}
          <div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search>
            <div class="predictive-search__loading-state">
              <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
              </svg>
            </div>
          </div>
    
          <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
        {%- endif -%}
      </form>
    {%- if settings.predictive_search_enabled -%}
      </predictive-search>
    {%- endif -%}
  </div>

  {% if featuredArticles.size > 0 %}
    {% comment %}{% assign featuredArticles = featuredArticles | sort:'published_at' | reverse %}{% endcomment %}
    {% assign first_article = featuredArticles[0] %}

    {% if first_article %}
      <a href="{{ first_article.url }}" class="first-blog-article-container">
        <div class="first-blog-article">
          <div class="first-blog-image">
            {{ first_article.image | image_url: width: 2400 | image_tag:
              loading: 'lazy',
              sizes: sizes,
              widths: '165, 360, 535, 750, 1070, 1500, 2400'
            }}
          </div>
          <div class="first-blog-info">
            <div class="first-blog-info__top">
              {% for tag in first_article.tags %}
                <div class="blog-tag" href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</div>
              {% endfor %}
              <h2 class="blog-title">{{ first_article.title }}</h2>
              <p class="blog-excerpt">
                {{ first_article.excerpt }}
              </p>
            </div>
            <div class="first-blog-info__bottom">
              <div class="first-blog-info__bottom-content">
                <div class="author-name">{{ first_article.author }}</div>
                <div class="first-blog-info__bottom-content-divider">
                  {{ first_article.published_at |date: "%d %B 20%y" }}{% if first_article.metafields.custom.minutes_to_read_blog_post != '' %} • {{ first_article.metafields.custom.minutes_to_read_blog_post }} min read{% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    {% endif %}
                  
    <div class="blog-articles">
      {% for article in featuredArticles %}
        {% unless forloop.index == 1 %}
          <div class="blog-articles__article article">
            {%- render 'article-card',
              article: article,
              media_height: section.settings.image_height,
              media_aspect_ratio: article.image.aspect_ratio,
              show_image: section.settings.show_image,
              show_date: section.settings.show_date,
              show_author: section.settings.show_author,
              show_excerpt: true 
            -%}
          </div>
        {% endunless %}
      {% endfor %} 
    </div>
  {% endif %}

  {%- if paginate.pages > 1 -%}
    {%- render 'pagination', paginate: paginate -%}
  {%- endif -%}

</div>
{%- endpaginate -%}

<script>
const blog_tag_carousel = new Swiper('#blog-tag-carousel', {
    slidesPerView: 2.3,
    slidesPerGroup: 1,
    spaceBetween: 0,
    loop: false,
    preventClicks: true,
  
    breakpoints: {
      595: {
        slidesPerView: 4.3,
        slidesPerGroup: 1,
      },

      992: {
        slidesPerView: 4.3,
        slidesPerGroup: 1,
      }
    }
});
</script>

{% schema %}
{
  "name": "t:sections.main-blog.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.main-blog.settings.header.content"
    },
    {
      "type": "text",
      "id": "main_title",
      "default": "Check Out",
      "label": "Main title"
    },
    {
      "type": "text",
      "id": "secondary_title",
      "default": "Our Articles",
      "label": "Secondary title"
    },
    {
      "type": "text",
      "id": "sub_text",
      "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
      "label": "Sub text"
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "default": true,
      "label": "t:sections.main-blog.settings.show_image.label"
    },
    {
      "type": "select",
      "id": "image_height",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-blog.settings.image_height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.main-blog.settings.image_height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.main-blog.settings.image_height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.main-blog.settings.image_height.options__4.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.main-blog.settings.image_height.label",
      "info": "t:sections.main-blog.settings.image_height.info"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "t:sections.main-blog.settings.show_date.label"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "default": false,
      "label": "t:sections.main-blog.settings.show_author.label"
    },
    {
      "type": "paragraph",
      "content": "t:sections.main-blog.settings.paragraph.content"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
