{{ 'component-image-with-text.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<style>
.marquee__container {
  width: 100vw;
  overflow: hidden;
  position: relative;
  border-bottom: 1px solid #29438B;
}

.marquee__wrapper {
  display: flex;
  justify-content: space-around;
  width: 300%;
  position: absolute;
  overflow: hidden;
  animation: marquee 5s linear infinite;
}

.marquee__wrapper .marquee__item {
  float: left;
  display: flex;
  align-items: center;
  font-weight: 900;
  font-size: 18px;
  line-height: 150%;
}

.marquee__image {
  border: 0.5px solid;
  position: relative;
  width: 32px;
  height: 32px;
  margin-right: 12px;
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 50%;
}

.marquee__image img {
  position: absolute;
  width: 50%;
  height: 50%;
  object-fit: cover;
}

@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}
</style>

<div class="marquee__container section-{{ section.id }}-padding">
  <div class="marquee__wrapper">
    {% for block in section.blocks %}
      <div class="marquee__item">
        <div class="marquee__image" style="border-color: {{ block.settings.border_color }}">
          <img src="{{ block.settings.image | img_url: 'master' }}" alt="{{ block.settings.text }}" loading="lazy" />
        </div>
        {{ block.settings.text }}
      </div>
    {% endfor %}
    {% for block in section.blocks %}
      <div class="marquee__item">
        <div class="marquee__image" style="border-color: {{ block.settings.border_color }}">
          <img src="{{ block.settings.image | img_url: 'master' }}" alt="{{ block.settings.text }}" loading="lazy" />
        </div>
        {{ block.settings.text }}
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Marquee",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Animated Text",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image for text"
        },
        {
          "type": "color",
          "id": "border_color",
          "label": "Border color for image",
          "default": "#3356AE"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Animated text",
          "default": "Real Food Ingredients"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Marquee",
      "blocks": [
        {
          "type": "item"
        }
      ]
    }
  ]
}
{% endschema %}