<style>
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  #shopify-section-{{ section.id }} {
    margin: 0;
  }

  .scroll-content__links-container {
    background: #F9F4EF;
    width: 100%;
  }

  .scroll-content__links-wrapper {
    width: 100%;
    max-width: 1440px;
    padding: 18px 100px;
    display: flex;
  }

  .scroll-content__links-left {
    width: 30%;
    min-width: 365px;
    font-style: normal;
    font-weight: 900;
    font-size: 22px;
    line-height: 120%;
    color: #2F4FA1;
    border-right: 2px solid #2F4FA1;
    padding-right: 15px;
  }

  .scroll-content__links-right {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 15px;
  }

  .scroll-content__links-right .scroll-content__link {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    color: #888;
    text-decoration: none!important;
    text-transform: capitalize;
  }

  .scroll-content__links-right .scroll-content__link:hover,
  .scroll-content__links-right .scroll-content__link.active {
    color: #000000;
  }

  .scroll-content__content-container {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    padding: 0 100px;
  }

  .scroll-content__content-wrapper {
    padding: 80px 0;
    display: flex;
    align-items: flex-start;
  }

  .scroll-content__content-left {
    width: 40%;
    background: #F9F4EF;
    border-radius: 10px;
    padding: 24px 32px 50px 32px;
  }

  .scroll-content__content-image {
    width: 100%;
    height: 250px;
    position: relative;
    margin-bottom: 28px;
  }

  .scroll-content__content-image img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
  }

  .scroll-content__content-header {
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    line-height: 120%;
    text-align: center;
  }

  .scroll-content__content-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 139%;
    text-align: center;
  }

  .scroll-content__content-right {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
  }

  .scroll-content__content-detail {
    display: flex;
    width: 50%;
    padding-left: 40px;
    margin-bottom: 60px;
    align-items: flex-start;
  }

  .scroll-content__content-detail-left {
    background: #F9F4EF;
    border-radius: 8.16667px;
    padding: 10px;
    margin-right: 20px;
  }

  .scroll-content__content-detail-image {
    display: flex;
  }

  .scroll-content__content-detail-image img {
    width: 30px;
    height: auto;
  }

  .scroll-content__content-detail-header {
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 120%;
    margin: 0;
  }

  .scroll-content__content-detail-text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 110%;
    margin: 0;
  }
</style>

<div class="scroll-content__container section-{{ section.id }}-padding">
  <div class="scroll-content__links-container">
    <div class="scroll-content__links-wrapper">
      <div class="scroll-content__links-left">{{ section.settings.title }}</div>
      <div class="scroll-content__links-right">
        {% for block in section.blocks %}
          <a class="scroll-content__link{% if forloop.index == 1 %} active{% endif %}" href="#{{ block.settings.title | handle }}-{{ block.settings.secondary_title | handle }}">{{ block.settings.title }} {{ block.settings.secondary_title }}</a>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="scroll-content__content-container">
    {% for block in section.blocks %}
      <div class="scroll-content__content-wrapper" id="{{ block.settings.title | handle }}-{{ block.settings.secondary_title | handle }}">
        <div class="scroll-content__content-left">
          <div class="scroll-content__content-image">
            <img src="{{ block.settings.image | img_url: 'master' }}" alt="{{ block.settings.title }} {{ block.settings.secondary_title }} image" />
          </div>
          <div class="scroll-content__content-header">{{ block.settings.title }}{% if section.settings.add_break %}<br />{% endif %} <span class="yellow-header-text">{{ block.settings.secondary_title }}</span></div>
          <p class="scroll-content__content-text">{{ block.settings.sub_text }}</p>
        </div>

        <div class="scroll-content__content-right">
          {% if block.settings.detail_title_1 != '' %}
          <div class="scroll-content__content-detail">
            <div class="scroll-content__content-detail-left">
              <div class="scroll-content__content-detail-image">
                <img src="{{ block.settings.detail_image_1 | img_url: 'master' }}" alt="{{ block.settings.detail_title_1 }} image" />
              </div>
            </div>
            <div class="scroll-content__content-detail-right">
              <div class="scroll-content__content-detail-header">{{ block.settings.detail_title_1 }}</div>
              <p class="scroll-content__content-detail-text">{{ block.settings.detail_text_1 }}</p>
            </div>
          </div>
          {% endif %}

          {% if block.settings.detail_title_2 != '' %}
          <div class="scroll-content__content-detail">
            <div class="scroll-content__content-detail-left">
              <div class="scroll-content__content-detail-image">
                <img src="{{ block.settings.detail_image_2 | img_url: 'master' }}" alt="{{ block.settings.detail_title_2 }} image" />
              </div>
            </div>
            <div class="scroll-content__content-detail-right">
              <div class="scroll-content__content-detail-header">{{ block.settings.detail_title_2 }}</div>
              <p class="scroll-content__content-detail-text">{{ block.settings.detail_text_2 }}</p>
            </div>
          </div>
          {% endif %}

          {% if block.settings.detail_title_3 != '' %}
          <div class="scroll-content__content-detail">
            <div class="scroll-content__content-detail-left">
              <div class="scroll-content__content-detail-image">
                <img src="{{ block.settings.detail_image_3 | img_url: 'master' }}" alt="{{ block.settings.detail_title_3 }} image" />
              </div>
            </div>
            <div class="scroll-content__content-detail-right">
              <div class="scroll-content__content-detail-header">{{ block.settings.detail_title_3 }}</div>
              <p class="scroll-content__content-detail-text">{{ block.settings.detail_text_3 }}</p>
            </div>
          </div>
          {% endif %}

          {% if block.settings.detail_title_4 != '' %}
          <div class="scroll-content__content-detail">
            <div class="scroll-content__content-detail-left">
              <div class="scroll-content__content-detail-image">
                <img src="{{ block.settings.detail_image_4 | img_url: 'master' }}" alt="{{ block.settings.detail_title_4 }} image" />
              </div>
            </div>
            <div class="scroll-content__content-detail-right">
              <div class="scroll-content__content-detail-header">{{ block.settings.detail_title_4 }}</div>
              <p class="scroll-content__content-detail-text">{{ block.settings.detail_text_4 }}</p>
            </div>
          </div>
          {% endif %}

          {% if block.settings.detail_title_5 != '' %}
          <div class="scroll-content__content-detail">
            <div class="scroll-content__content-detail-left">
              <div class="scroll-content__content-detail-image">
                <img src="{{ block.settings.detail_image_5 | img_url: 'master' }}" alt="{{ block.settings.detail_title_5 }} image" />
              </div>
            </div>
            <div class="scroll-content__content-detail-right">
              <div class="scroll-content__content-detail-header">{{ block.settings.detail_title_5 }}</div>
              <p class="scroll-content__content-detail-text">{{ block.settings.detail_text_5 }}</p>
            </div>
          </div>
          {% endif %}

          {% if block.settings.detail_title_6 != '' %}
          <div class="scroll-content__content-detail">
            <div class="scroll-content__content-detail-left">
              <div class="scroll-content__content-detail-image">
                <img src="{{ block.settings.detail_image_6 | img_url: 'master' }}" alt="{{ block.settings.detail_title_6 }} image" />
              </div>
            </div>
            <div class="scroll-content__content-detail-right">
              <div class="scroll-content__content-detail-header">{{ block.settings.detail_title_6 }}</div>
              <p class="scroll-content__content-detail-text">{{ block.settings.detail_text_6 }}</p>
            </div>
          </div>
          {% endif %}

          {% if block.settings.detail_title_7 != '' %}
          <div class="scroll-content__content-detail">
            <div class="scroll-content__content-detail-left">
              <div class="scroll-content__content-detail-image">
                <img src="{{ block.settings.detail_image_7 | img_url: 'master' }}" alt="{{ block.settings.detail_title_7 }} image" />
              </div>
            </div>
            <div class="scroll-content__content-detail-right">
              <div class="scroll-content__content-detail-header">{{ block.settings.detail_title_7 }}</div>
              <p class="scroll-content__content-detail-text">{{ block.settings.detail_text_7 }}</p>
            </div>
          </div>
          {% endif %}

          {% if block.settings.detail_title_8 != '' %}
          <div class="scroll-content__content-detail">
            <div class="scroll-content__content-detail-left">
              <div class="scroll-content__content-detail-image">
                <img src="{{ block.settings.detail_image_8 | img_url: 'master' }}" alt="{{ block.settings.detail_title_8 }} image" />
              </div>
            </div>
            <div class="scroll-content__content-detail-right">
              <div class="scroll-content__content-detail-header">{{ block.settings.detail_title_8 }}</div>
              <p class="scroll-content__content-detail-text">{{ block.settings.detail_text_8 }}</p>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
  {
    "name": "Scroll To Content",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "default": "Why our products are healthier",
        "label": "Scrollbar text"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 36
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 36
      }
    ],
    "blocks": [
      {
        "type": "text",
        "name": "Content",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "default": "Benefits Of",
            "label": "Content Title"
          },
          {
            "type": "text",
            "id": "secondary_title",
            "default": "Low To No Added Sugar",
            "label": "Content Secondary Title"
          },
          {
            "type": "checkbox",
            "id": "add_break",
            "default": true,
            "label": "Add break between titles"
          },
          {
            "type": "text",
            "id": "sub_text",
            "default": "On Average, each person in the U.S. consumed 113 pounds of sugar each year, that’s 36 billion pounds of sugar in total.  That’s a whole lot of sugar.",
            "label": "Content Text"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Pick the main image for the content"
          },
          {
            "type": "text",
            "id": "detail_title_1",
            "default": "Improved weight management",
            "label": "Detail Title One"
          },
          {
            "type": "text",
            "id": "detail_text_1",
            "default": "Reducing sugar intake can help with weight control by reducing overall calorie intake and reducing the risk of obesity.",
            "label": "Detail Text One"
          },
          {
            "type": "image_picker",
            "id": "detail_image_1",
            "label": "Pick an image for detail one"
          },
          {
            "type": "text",
            "id": "detail_title_2",
            "default": "Improved weight management",
            "label": "Detail Title Two"
          },
          {
            "type": "text",
            "id": "detail_text_2",
            "default": "Reducing sugar intake can help with weight control by reducing overall calorie intake and reducing the risk of obesity.",
            "label": "Detail Text Two"
          },
          {
            "type": "image_picker",
            "id": "detail_image_2",
            "label": "Pick an image for detail two"
          },
          {
            "type": "text",
            "id": "detail_title_3",
            "default": "Improved weight management",
            "label": "Detail Title Three"
          },
          {
            "type": "text",
            "id": "detail_text_3",
            "default": "Reducing sugar intake can help with weight control by reducing overall calorie intake and reducing the risk of obesity.",
            "label": "Detail Text Three"
          },
          {
            "type": "image_picker",
            "id": "detail_image_3",
            "label": "Pick an image for detail three"
          },
          {
            "type": "text",
            "id": "detail_title_4",
            "default": "Improved weight management",
            "label": "Detail Title Four"
          },
          {
            "type": "text",
            "id": "detail_text_4",
            "default": "Reducing sugar intake can help with weight control by reducing overall calorie intake and reducing the risk of obesity.",
            "label": "Detail Text Four"
          },
          {
            "type": "image_picker",
            "id": "detail_image_4",
            "label": "Pick an image for detail four"
          },
          {
            "type": "text",
            "id": "detail_title_5",
            "default": "Improved weight management",
            "label": "Detail Title Five"
          },
          {
            "type": "text",
            "id": "detail_text_5",
            "default": "Reducing sugar intake can help with weight control by reducing overall calorie intake and reducing the risk of obesity.",
            "label": "Detail Text Five"
          },
          {
            "type": "image_picker",
            "id": "detail_image_5",
            "label": "Pick an image for detail five"
          },
          {
            "type": "text",
            "id": "detail_title_6",
            "default": "Improved weight management",
            "label": "Detail Title Six"
          },
          {
            "type": "text",
            "id": "detail_text_6",
            "default": "Reducing sugar intake can help with weight control by reducing overall calorie intake and reducing the risk of obesity.",
            "label": "Detail Text Six"
          },
          {
            "type": "image_picker",
            "id": "detail_image_6",
            "label": "Pick an image for detail six"
          },
          {
            "type": "text",
            "id": "detail_title_7",
            "default": "Improved weight management",
            "label": "Detail Title Seven"
          },
          {
            "type": "text",
            "id": "detail_text_7",
            "default": "Reducing sugar intake can help with weight control by reducing overall calorie intake and reducing the risk of obesity.",
            "label": "Detail Text Seven"
          },
          {
            "type": "image_picker",
            "id": "detail_image_7",
            "label": "Pick an image for detail seven"
          },
          {
            "type": "text",
            "id": "detail_title_8",
            "default": "Improved weight management",
            "label": "Detail Title Eight"
          },
          {
            "type": "text",
            "id": "detail_text_8",
            "default": "Reducing sugar intake can help with weight control by reducing overall calorie intake and reducing the risk of obesity.",
            "label": "Detail Text Eight"
          },
          {
            "type": "image_picker",
            "id": "detail_image_8",
            "label": "Pick an image for detail eight"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Scroll To Content"
      }
    ]
  }
{% endschema %}