{{ 'text-banner.css' | asset_url | stylesheet_tag }}

{% style %}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{% endstyle %}

<div class="text-banner section-{{ section.id }}-padding" style="background-color: {{ section.settings.bg_color }}">
  <div class="h3 text-banner-title">{{ section.settings.main_title }} <br /> <span class="yellow-header-text">{{ section.settings.secondary_title }}</span></div>
  
  {% if section.settings.sub_text != '' %}
  <p class="text-banner-sub_text">{{ section.settings.sub_text }}</p>
  {% endif %}

  {% if section.settings.button_text %}
    <a href="{{ section.settings.button_link }}" class="button">{{ section.settings.button_text }}</a>
  {% endif %}
</div>

{% schema %}
{
  "name": "Text Banner",
  "class": "section",
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background color",
      "default": "#FFFFFF"
    },
    {
      "type": "text",
      "id": "main_title",
      "default": "Don't know what to get?",
      "label": "Main Title"
    },
    {
      "type": "text",
      "id": "secondary_title",
      "default": "Build a bundle!",
      "label": "Secondary Title"
    },
    {
      "type": "checkbox",
      "id": "reverse_titles",
      "default": false,
      "label": "Reverse titles"
    },
    {
      "type": "text",
      "id": "sub_text",
      "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.",
      "label": "Paragraph"
    },
    {
      "type": "text",
      "id": "button_text",
      "default": "Button label",
      "label": "Button Label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Text Banner"
    }
  ]
}
{% endschema %}